Node_Red/flow.json
[{"id":"778728cb.24406","type":"tab","label":"Flow 1"},{"id":"5e085e4d.a9843","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"3129118f.e52eee","type":"tab","label":"Flow 2"},{"id":"4e2e5988.9634c8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"9f552ffb.7c227","type":"ui_group","z":"","name":"Default","tab":"4e2e5988.9634c8","disp":true,"width":"30","collapse":false},{"id":"77ef9a36.11a09c","type":"modbus-client","z":"","name":"","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"2400","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"dba87901.79f7e8","type":"modbus-client","z":"","name":"Serial_9600_8_N_1","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU","serialBaudrate":"2400","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"","commandDelay":30,"clientTimeout":2000,"reconnectTimeout":5000},{"id":"a505d2f3.91a9c8","type":"ui_group","z":"","name":"SDM120 Energy Meter","tab":"","order":2,"disp":true,"width":"6"},{"id":"f83957d7.ef9788","type":"modbus-client","z":"","name":"Serial_9600_8_N_1","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"2400","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":10,"clientTimeout":2000,"reconnectTimeout":5000},{"id":"2c974ba0.3c889c","type":"ui_group","z":"","name":"SDM120 Energy Meter","tab":"dfb87289.a79f3","order":2,"disp":true,"width":"6"},{"id":"dfb87289.a79f3","type":"ui_tab","z":"","name":"Modbus","icon":"memory","order":15},{"id":"acff1d2a.1044","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"af1d21a9.e11b6","type":"mqtt-broker","z":"","name":"mosquito_","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d355befa.daa74","type":"ui_tab","z":"","name":"Home_1","icon":"dashboard","disabled":false,"hidden":false},{"id":"118951e5.8bcfae","type":"ui_group","z":"","name":"Default_1","tab":"d355befa.daa74","disp":true,"width":"30","collapse":false},{"id":"1dbc4416.bfa5ec","type":"debug","z":"778728cb.24406","name":"Gold","active":false,"console":"false","complete":"payload","x":1305.5,"y":75,"wires":[]},{"id":"694dd6d1.09868","type":"catch","z":"778728cb.24406","name":"","scope":null,"x":105.5,"y":41,"wires":[["853567cf.a3dfd"]]},{"id":"853567cf.a3dfd","type":"debug","z":"778728cb.24406","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1305.611083984375,"y":41.77778625488281,"wires":[]},{"id":"7ccc3523.fa9ef4","type":"debug","z":"778728cb.24406","name":"PID_in","active":false,"console":"false","complete":"payload","x":1306.5,"y":107,"wires":[]},{"id":"5d31730c.7e9e74","type":"debug","z":"778728cb.24406","name":"PID_out","active":false,"console":"false","complete":"payload","x":1297.5,"y":140,"wires":[]},{"id":"95ccc61f.ba7168","type":"function","z":"778728cb.24406","name":"","func":"var output = msg.payload.split(\";\");\nvar output_2 = msg.topic.split(\"/\");\nif(output.length != 3){\n    output = context.get('last').split(\";\") || 0;\n}else{\n    context.set('last', msg.payload);\n}\nvar gold = parseInt(output[0]);\nvar pid_out = parseInt(output[1]);\nvar pid_in = parseInt(output[2]);\nvar t = 100;\nif(output_2.length == 3){\n    t = flow.get(output_2[2]) || 100;\n}\nreturn [{payload:gold, topic:t}, {payload:pid_in, topic:t}, {payload:pid_out, topic:t, in_:pid_in, out_:pid_out, gold_:gold, esp:output_2[2]}];","outputs":"3","noerr":0,"x":515.5,"y":88,"wires":[["1dbc4416.bfa5ec"],["7ccc3523.fa9ef4"],["5d31730c.7e9e74","4b529876.190cb","6adf5546.b71374","85900711.8899a"]]},{"id":"3d24eb7f.8c8d0c","type":"mraa-gpio-dout","z":"778728cb.24406","name":"","pin":"8","set":true,"level":"0","x":1133.5,"y":492,"wires":[]},{"id":"df08c368.ef6e88","type":"function","z":"778728cb.24406","name":"","func":"var out = [];\nfor(var p = 0;p<=13;p++){\n    if(context.get(\"p\"+p.toString()) === null)\n        context.set(\"p\"+p.toString(), 0);\n    //out.push({payload:(flow.get(\"mode\"+p.toString())==\"auto\" ? context.get('p'+p.toString()) : (flow.get(\"mode\"+p.toString())==\"off\" ? 1 : 0)), topic:p.toString()});\n    out.push({payload:(flow.get(\"mode\"+p.toString())==\"auto\" ? flow.get('p'+p.toString()) : (flow.get(\"mode\"+p.toString())==\"off\" ? 1 : 0)), topic:p.toString()});\n\n    \n}\nreturn out;","outputs":14,"noerr":0,"x":765.5,"y":472,"wires":[["6eb2ae50.aeaa9","74100281.771a04"],["77fd59bd.ae281","6eb2ae50.aeaa9"],["2565ce9a.555a0a","6eb2ae50.aeaa9"],["b3805603.e44aa","6eb2ae50.aeaa9"],["599a64a0.bbe7e4","6eb2ae50.aeaa9"],["f5d051e.ea8da3","6eb2ae50.aeaa9"],["9b60333c.39716","6eb2ae50.aeaa9"],["202159cd.da947e","6eb2ae50.aeaa9"],["3d24eb7f.8c8d0c","6eb2ae50.aeaa9"],["b43aa0e9.920658","6eb2ae50.aeaa9"],["befa3112.a6ce08","6eb2ae50.aeaa9"],["334acfbe.e4559","6eb2ae50.aeaa9"],["f977af6f.7484c","6eb2ae50.aeaa9"],["e208b04f.985f7","6eb2ae50.aeaa9"]]},{"id":"e24bc084.4c0b18","type":"comment","z":"3129118f.e52eee","name":"SDM120 Energy Meter","info":"","x":160,"y":100,"wires":[]},{"id":"c7af8bfe.87f7b","type":"modbus-read","z":"3129118f.e52eee","name":"SDM 120 Voltage","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"1","dataType":"InputRegister","adr":"0","quantity":"2","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"f83957d7.ef9788","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":131.5,"y":193,"wires":[["25d68349.a5ec64","6d94d01f.aa2f8"],[]]},{"id":"582c7e8c.399bd8","type":"modbus-queue-info","z":"3129118f.e52eee","name":"SDM120_queue","topic":"","unitid":"1","queueReadIntervalTime":"1000","lowLowLevel":"1","lowLevel":75,"highLevel":150,"highHighLevel":300,"server":"f83957d7.ef9788","errorOnHighLevel":false,"x":503.1428527832031,"y":560.107177734375,"wires":[["28917f69.9b6a8"]]},{"id":"de805f32.85947","type":"inject","z":"3129118f.e52eee","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":132.14286041259766,"y":561.1072025299072,"wires":[["be911ece.022098"]]},{"id":"be911ece.022098","type":"change","z":"3129118f.e52eee","name":"Reset queue","rules":[{"t":"set","p":"resetQueue","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":301.14286041259766,"y":561.1071891784668,"wires":[["582c7e8c.399bd8"]]},{"id":"c2620cf7.4fbf4","type":"function","z":"3129118f.e52eee","name":"Current","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseFloat(fltView[0].toFixed(2));\nmsg.topic = \"current\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \":\" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":359.5,"y":244,"wires":[["a7607424.c0c17","fea50a2e.a8a0b8"]]},{"id":"aa9d817a.1c2d58","type":"function","z":"3129118f.e52eee","name":"Power","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseFloat(fltView[0].toFixed(2));\nmsg.topic = \"power\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \":\" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":350.5,"y":297,"wires":[["572092cc.af99ac","fea50a2e.a8a0b8"]]},{"id":"61fce882.08e4f8","type":"function","z":"3129118f.e52eee","name":"Frequency","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"frequency\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \":\" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":370.5,"y":353,"wires":[["cccdc217.c84438","fea50a2e.a8a0b8"]]},{"id":"748aad5f.a93714","type":"function","z":"3129118f.e52eee","name":"Energy","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseFloat(fltView[0].toFixed(2));\nmsg.topic = \"energy\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \":\" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":360.5,"y":413,"wires":[["de5514ba.a3ba3","fea50a2e.a8a0b8"]]},{"id":"d1720dff.4a899","type":"modbus-read","z":"3129118f.e52eee","name":"SDM 120 Current","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"1","dataType":"InputRegister","adr":"6","quantity":"2","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"f83957d7.ef9788","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":140.5,"y":251,"wires":[["c2620cf7.4fbf4","6d94d01f.aa2f8"],[]]},{"id":"8cc64dd0.ca562","type":"modbus-read","z":"3129118f.e52eee","name":"SDM 120 Power","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"1","dataType":"InputRegister","adr":"12","quantity":"2","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"f83957d7.ef9788","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":130.5,"y":303,"wires":[["aa9d817a.1c2d58"],[]]},{"id":"be4b05eb.ea4c9","type":"modbus-read","z":"3129118f.e52eee","name":"SDM 120 Frequency","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"1","dataType":"InputRegister","adr":"70","quantity":"2","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"f83957d7.ef9788","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":150.5,"y":359,"wires":[["61fce882.08e4f8"],[]]},{"id":"b98da110.baf638","type":"modbus-read","z":"3129118f.e52eee","name":"SDM 120 Energy","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"1","dataType":"InputRegister","adr":"342","quantity":"2","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"f83957d7.ef9788","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":128.5,"y":418,"wires":[["748aad5f.a93714","87bfcbb5.e78d08"],[]]},{"id":"a7607424.c0c17","type":"ui_text","z":"3129118f.e52eee","group":"2c974ba0.3c889c","order":2,"width":0,"height":0,"name":"","label":"Current","format":"{{msg.payload}} A","layout":"row-spread","x":547.5,"y":243,"wires":[]},{"id":"572092cc.af99ac","type":"ui_text","z":"3129118f.e52eee","group":"2c974ba0.3c889c","order":3,"width":0,"height":0,"name":"","label":"Power","format":"{{msg.payload}} W","layout":"row-spread","x":543.5,"y":298,"wires":[]},{"id":"cccdc217.c84438","type":"ui_text","z":"3129118f.e52eee","group":"2c974ba0.3c889c","order":4,"width":0,"height":0,"name":"","label":"Frequency","format":"{{msg.payload}} Hz","layout":"row-spread","x":563.5,"y":354,"wires":[]},{"id":"de5514ba.a3ba3","type":"ui_text","z":"3129118f.e52eee","group":"2c974ba0.3c889c","order":5,"width":0,"height":0,"name":"","label":"Total Energy","format":"{{msg.payload}} kWh","layout":"row-spread","x":565.5,"y":414,"wires":[]},{"id":"fea50a2e.a8a0b8","type":"function","z":"3129118f.e52eee","name":"Build object","func":"watch_topic = \"energy\";\nvar output = {};\n\ncontext.set(msg.topic,msg.payload);\n\nif (context.get(\"voltage\")!==undefined) {\n    output.voltage = context.get(\"voltage\");\n}\nif (context.get(\"current\")!==undefined) {\n    output.current = context.get(\"current\");\n}\nif (context.get(\"power\")!==undefined) {\n    output.power = context.get(\"power\");\n}\nif (context.get(\"frequency\")!==undefined) {\n    output.frequency = context.get(\"frequency\");\n}\nif (context.get(\"energy\")!==undefined) {\n    output.energy = context.get(\"energy\");\n}\nmsg.payload = output;\n\nif (msg.topic===watch_topic) {\n    msg.topic = \"sdm120\";\n    return msg;\n}","outputs":1,"noerr":0,"x":736.5,"y":271,"wires":[["bb12e288.f66248","265cf69b.928582"]]},{"id":"bb12e288.f66248","type":"debug","z":"3129118f.e52eee","name":"","active":false,"console":"false","complete":"true","x":900.5,"y":271,"wires":[]},{"id":"142b4e3f.06d672","type":"function","z":"3129118f.e52eee","name":"Diagnostic input message structure","func":"// setting a global flag that the solar system is down\n\nmsg.payload = \"High voltage warning: \" + msg.payload.voltage +\" V\";\nmsg.system = 1; // System id, use 1 for Dummy\n//msg.state = 1; // specify if the message is to change system status\nmsg.severity = 1; // 0: information, 1: warning, 2: error\nmsg.email = false; // if separate email should be sent\n//msg.emailtext = \"Clean up step of the SAIA log backup has failed\";\nreturn msg;","outputs":1,"noerr":0,"x":1451.5,"y":159,"wires":[["26590c6.36663f4"]]},{"id":"26590c6.36663f4","type":"link out","z":"3129118f.e52eee","name":"","links":["13e089a7.73cb46"],"x":1658.5,"y":181,"wires":[]},{"id":"b3f26ed.13bca9","type":"switch","z":"3129118f.e52eee","name":"Voltage check","property":"payload.voltage_check","propertyType":"msg","rules":[{"t":"eq","v":"high","vt":"str"},{"t":"eq","v":"low","vt":"str"}],"checkall":"true","outputs":2,"x":1159.5,"y":183,"wires":[["142b4e3f.06d672"],["e74221fd.4ba078"]]},{"id":"e74221fd.4ba078","type":"function","z":"3129118f.e52eee","name":"Diagnostic input message structure","func":"// setting a global flag that the solar system is down\n\nmsg.payload = \"Low voltage warning: \" + msg.payload.voltage +\" V\";\nmsg.system = 1; // System id, use 1 for Dummy\n//msg.state = 1; // specify if the message is to change system status\nmsg.severity = 1; // 0: information, 1: warning, 2: error\nmsg.email = false; // if separate email should be sent\n//msg.emailtext = \"Clean up step of the SAIA log backup has failed\";\nreturn msg;","outputs":1,"noerr":0,"x":1451.5,"y":204,"wires":[["26590c6.36663f4"]]},{"id":"265cf69b.928582","type":"function","z":"3129118f.e52eee","name":"Voltage check","func":"var high = 250.0;\nvar low = 220.0;\n\nif (msg.payload.voltage > high) {\n    msg.payload.voltage_check = \"high\";\n}\nif (msg.payload.voltage < low) {\n    msg.payload.voltage_check = \"low\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":946.5,"y":184,"wires":[["b3f26ed.13bca9"]]},{"id":"3f68fb53.85c064","type":"function","z":"3129118f.e52eee","name":"reset on HighHigh","func":"if(\"high high level reached\" === msg.state) {\n    msg.resetQueue = true;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":376.00000762939453,"y":691.2500247955322,"wires":[["582c7e8c.399bd8","d0ea6d6f.df3e6"]]},{"id":"c814b874.fca3b8","type":"catch","z":"3129118f.e52eee","name":"Catch queue errors","scope":["582c7e8c.399bd8"],"x":138.00000762939453,"y":691.2500247955322,"wires":[["3f68fb53.85c064"]]},{"id":"6aef4c66.5b16dc","type":"comment","z":"3129118f.e52eee","name":"Error handling","info":"","x":104.00000762939453,"y":646.2500247955322,"wires":[]},{"id":"d0ea6d6f.df3e6","type":"function","z":"3129118f.e52eee","name":"Diagnostic input message structure","func":"// setting a global flag that the solar system is down\n\nmsg.payload = \"SDM120 modbus queue reached high level, resetting. (\" + msg.state + \")\";\nmsg.system = 4; // System id, use 1 for Dummy\n//msg.state = 1; // specify if the message is to change system status\nmsg.severity = 1; // 0: information, 1: warning, 2: error\nmsg.email = false; // if separate email should be sent\n//msg.emailtext = \"Clean up step of the SAIA log backup has failed\";\nreturn msg;","outputs":1,"noerr":0,"x":676.0000076293945,"y":690.2500247955322,"wires":[["cf289970.7c229"]]},{"id":"cf289970.7c229","type":"link out","z":"3129118f.e52eee","name":"","links":["13e089a7.73cb46"],"x":862.0000076293945,"y":690.2500247955322,"wires":[]},{"id":"c75f364d.ed74e8","type":"catch","z":"3129118f.e52eee","name":"Modbus read errors","scope":["d1720dff.4a899","b98da110.baf638","be4b05eb.ea4c9","8cc64dd0.ca562","c7af8bfe.87f7b","e24bc084.4c0b18"],"x":138.00000762939453,"y":734.2500247955322,"wires":[["aff3550a.ff541"]]},{"id":"aff3550a.ff541","type":"function","z":"3129118f.e52eee","name":"Diagnostic input message structure","func":"// setting a global flag that the solar system is down\n\nmsg.payload = \"SDM120 modbus error: \" + msg.error.message;\nmsg.system = 4; // System id, use 1 for Dummy\n//msg.state = 1; // specify if the message is to change system status\nmsg.severity = 1; // 0: information, 1: warning, 2: error\nmsg.email = false; // if separate email should be sent\n//msg.emailtext = \"Clean up step of the SAIA log backup has failed\";\nreturn msg;","outputs":1,"noerr":0,"x":427.00000762939453,"y":734.2500247955322,"wires":[["5d22c47a.585a6c"]]},{"id":"5d22c47a.585a6c","type":"link out","z":"3129118f.e52eee","name":"","links":["13e089a7.73cb46"],"x":613.0000076293945,"y":734.2500247955322,"wires":[]},{"id":"28917f69.9b6a8","type":"debug","z":"3129118f.e52eee","name":"","active":false,"console":"false","complete":"true","x":684.0000076293945,"y":559.2500247955322,"wires":[]},{"id":"87bfcbb5.e78d08","type":"function","z":"3129118f.e52eee","name":"Health check","func":"var devicename = \"sdm120\"; // Device name used for context variable\nvar system_id = 4; // System id number for diagnostic update\nvar online_threshold = 10; // Seconds between updates under which the device is considered online\nvar offline_threshold = 30; // Seconds between updates above which the device is considered offline\n\nvar temp = context.get(devicename+\"_update\");\nvar current = new Date();\nmsg.payload = \"No data\";\nmsg.warning = false;\nif (msg.topic!==\"timecheck\") {\n    // Do not update the context if it is triggered by the check inject node\n    context.set(devicename+\"_update\",current);\n}\nif (temp===undefined) {\n    // this will be the case when node-red is booting up or redeployed\n    context.set(devicename+\"_update\",current);\n}\n\nif (temp!==undefined) {\n    current = current - temp;\n    current = Math.floor(current/1000);\n    var minute = Math.floor(current/60);\n    var hour = Math.floor(minute/60);\n    var day = Math.floor(hour/24);\n    if (current>24*60*60) {\n        msg.payload = \"Last update \" + day + \" days, \" + hour%24 + \" hours, \" + minute%60 + \" minutes, \" + current%60 + \" seconds ago\";\n    } else if (current>60*60) {\n        msg.payload = \"Last update \" + hour%24 + \" hours, \" + minute%60 + \" minutes, \" + current%60 + \" seconds ago\";\n    } else if (current>60) {\n        msg.payload = \"Last update \" + minute%60 + \" minutes, \" + current%60 + \" seconds ago\";\n    } else {\n        msg.payload = \"Last update \" + current%60 + \" seconds ago\";\n    }\n\n    if (context.get(devicename+\"_state\")!==1) {\n        if (current<online_threshold) {\n            msg.payload = \"SDM120 is now online\";\n            msg.system = system_id; // System id, use 1 for Dummy\n            msg.state = 1; // specify if the message is to change system status\n            msg.severity = 0; // 0: information, 1: warning, 2: error\n            //msg.email = true; // if separate email should be sent\n            //msg.emailtext = \"\"; this a long text which goes into the email  \n            msg.warning = true;\n            context.set(devicename+\"_state\",1);\n        }\n    } else {\n        if (current>offline_threshold) {\n            msg.payload = \"SDM120 is not transmitting\";\n            msg.system = system_id; // System id, use 1 for Dummy\n            msg.state = 99; // specify if the message is to change system status\n            msg.severity = 2; // 0: information, 1: warning, 2: error\n            //msg.email = true; // if separate email should be sent\n            //msg.emailtext = \"\"; this a long text which goes into the email            \n            msg.warning = true;\n            context.set(devicename+\"_state\",99);\n        }\n    }\n    \n    \n}\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.payload});\n\nreturn msg;","outputs":1,"noerr":0,"x":384.5,"y":478,"wires":[["9221a30.843326"]]},{"id":"bb13cc0c.5ef7d8","type":"inject","z":"3129118f.e52eee","name":"Check","topic":"timecheck","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":168.5,"y":490,"wires":[["87bfcbb5.e78d08"]]},{"id":"9221a30.843326","type":"switch","z":"3129118f.e52eee","name":"Update diag?","property":"warning","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":579.5,"y":478,"wires":[["4d0389f9.f3e56"]]},{"id":"4d0389f9.f3e56","type":"link out","z":"3129118f.e52eee","name":"","links":["13e089a7.73cb46"],"x":698.8015727996826,"y":477.57140350341797,"wires":[]},{"id":"6d94d01f.aa2f8","type":"debug","z":"3129118f.e52eee","name":"","active":false,"console":"false","complete":"false","x":356.5,"y":134,"wires":[]},{"id":"25d68349.a5ec64","type":"function","z":"3129118f.e52eee","name":"Voltage","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"voltage\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \":\" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":360.5,"y":186,"wires":[["fea50a2e.a8a0b8","f816664e.d859f8"]]},{"id":"f816664e.d859f8","type":"ui_text","z":"3129118f.e52eee","group":"2c974ba0.3c889c","order":1,"width":0,"height":0,"name":"","label":"Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":546.5,"y":188,"wires":[]},{"id":"f33bf33b.a139e","type":"mqtt in","z":"778728cb.24406","name":"","topic":"mosquitto/vals/#","qos":"2","broker":"af1d21a9.e11b6","x":85,"y":89,"wires":[["95ccc61f.ba7168","54301c7c.0e4bcc","b2f924f1.6dc998"]]},{"id":"54301c7c.0e4bcc","type":"debug","z":"778728cb.24406","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300.5,"y":123,"wires":[]},{"id":"6eb2ae50.aeaa9","type":"debug","z":"778728cb.24406","name":"ports","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1342.5,"y":455,"wires":[]},{"id":"74100281.771a04","type":"mraa-gpio-dout","z":"778728cb.24406","name":"","pin":"0","set":"","level":"0","x":1133.5,"y":236,"wires":[]},{"id":"202159cd.da947e","type":"mraa-gpio-dout","z":"778728cb.24406","name":"","pin":"7","set":"","level":"0","x":1133.5,"y":460,"wires":[]},{"id":"9b60333c.39716","type":"mraa-gpio-dout","z":"778728cb.24406","name":"","pin":"6","set":"","level":"0","x":1133.5,"y":428,"wires":[]},{"id":"f5d051e.ea8da3","type":"mraa-gpio-dout","z":"778728cb.24406","name":"","pin":"5","set":"","level":"0","x":1133.5,"y":396,"wires":[]},{"id":"599a64a0.bbe7e4","type":"mraa-gpio-dout","z":"778728cb.24406","name":"","pin":"4","set":"","level":"0","x":1133.5,"y":364,"wires":[]},{"id":"b3805603.e44aa","type":"mraa-gpio-dout","z":"778728cb.24406","name":"","pin":"3","set":"","level":"0","x":1133.5,"y":332,"wires":[]},{"id":"2565ce9a.555a0a","type":"mraa-gpio-dout","z":"778728cb.24406","name":"","pin":"2","set":"","level":"0","x":1133.5,"y":300,"wires":[]},{"id":"77fd59bd.ae281","type":"mraa-gpio-dout","z":"778728cb.24406","name":"","pin":"1","set":"","level":"0","x":1133.5,"y":268,"wires":[]},{"id":"b43aa0e9.920658","type":"mraa-gpio-dout","z":"778728cb.24406","name":"","pin":"9","set":"","level":"0","x":1133.5,"y":524,"wires":[]},{"id":"befa3112.a6ce08","type":"mraa-gpio-dout","z":"778728cb.24406","name":"","pin":"10","set":"","level":"0","x":1133.5,"y":556,"wires":[]},{"id":"334acfbe.e4559","type":"mraa-gpio-dout","z":"778728cb.24406","name":"","pin":"11","set":"","level":"0","x":1133.5,"y":588,"wires":[]},{"id":"f977af6f.7484c","type":"mraa-gpio-dout","z":"778728cb.24406","name":"","pin":"12","set":"","level":"0","x":1133.5,"y":620,"wires":[]},{"id":"e208b04f.985f7","type":"mraa-gpio-dout","z":"778728cb.24406","name":"","pin":"13","set":"","level":"0","x":1132.5,"y":652,"wires":[]},{"id":"bd9ebee4.b6fa08","type":"modbus-read","z":"5e085e4d.a9843","name":"SDM 120 Energy","topic":"1","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"1","dataType":"InputRegister","adr":"342","quantity":"2","rate":"10","rateUnit":"m","delayOnStart":false,"startDelayTime":"5000","server":"f83957d7.ef9788","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":318,"y":322,"wires":[["34d9e27b.801b96"],[]]},{"id":"34d9e27b.801b96","type":"function","z":"5e085e4d.a9843","name":"Energy","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\nvar topic = msg.input.topic;\n\nmsg.payload = parseFloat(fltView[0].toFixed(2))*1000;\nmsg.topic = topic;\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \":\" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":558,"y":319,"wires":[["eca13165.d89758","b7d0e993.f6f26"]]},{"id":"eca13165.d89758","type":"ui_text","z":"5e085e4d.a9843","group":"118951e5.8bcfae","order":5,"width":0,"height":0,"name":"","label":"Total Energy(1)","format":"{{msg.payload}} kWh","layout":"row-spread","x":753,"y":317,"wires":[]},{"id":"3d8b7dd5.8d399a","type":"modbus-read","z":"5e085e4d.a9843","name":"SDM 120 Energy","topic":"2","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"2","dataType":"InputRegister","adr":"342","quantity":"2","rate":"10","rateUnit":"m","delayOnStart":false,"startDelayTime":"5000","server":"f83957d7.ef9788","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":311,"y":411,"wires":[["5066134a.0c239c"],[]]},{"id":"5066134a.0c239c","type":"function","z":"5e085e4d.a9843","name":"Energy","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\nvar topic = msg.input.topic;\n\nmsg.payload = parseFloat(fltView[0].toFixed(2))*1000;\nmsg.topic = topic;\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \":\" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":553,"y":406,"wires":[["28ec7211.70ff76","b7d0e993.f6f26"]]},{"id":"28ec7211.70ff76","type":"ui_text","z":"5e085e4d.a9843","group":"118951e5.8bcfae","order":5,"width":0,"height":0,"name":"","label":"Total Energy(2)","format":"{{msg.payload}} kWh","layout":"row-spread","x":758,"y":407,"wires":[]},{"id":"b5d7587d.b9eca","type":"modbus-queue-info","z":"5e085e4d.a9843","name":"SDM120_queue","topic":"","unitid":"1","queueReadIntervalTime":"1000","lowLowLevel":"1","lowLevel":75,"highLevel":150,"highHighLevel":300,"server":"f83957d7.ef9788","errorOnHighLevel":false,"x":649,"y":602,"wires":[["f64bdd3d.80a43"]]},{"id":"722b9932.118ed","type":"inject","z":"5e085e4d.a9843","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":278.00000762939453,"y":603.0000247955322,"wires":[["7c1068dc.178908"]]},{"id":"7c1068dc.178908","type":"change","z":"5e085e4d.a9843","name":"Reset queue","rules":[{"t":"set","p":"resetQueue","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":447.00000762939453,"y":603.0000114440918,"wires":[["b5d7587d.b9eca","2eb306d6.65fa42"]]},{"id":"81fab214.cfc33","type":"function","z":"5e085e4d.a9843","name":"reset on HighHigh","func":"if(\"high high level reached\" === msg.state) {\n    msg.resetQueue = true;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":521.8571548461914,"y":733.1428470611572,"wires":[["b5d7587d.b9eca","e7a91a3.d3af2e8","2eb306d6.65fa42"]]},{"id":"a12b8b67.6856a8","type":"catch","z":"5e085e4d.a9843","name":"Catch queue errors","scope":["b5d7587d.b9eca"],"x":283.8571548461914,"y":733.1428470611572,"wires":[["81fab214.cfc33"]]},{"id":"147328c8.6e7c0f","type":"comment","z":"5e085e4d.a9843","name":"Error handling","info":"","x":249.8571548461914,"y":688.1428470611572,"wires":[]},{"id":"e7a91a3.d3af2e8","type":"function","z":"5e085e4d.a9843","name":"Diagnostic input message structure","func":"// setting a global flag that the solar system is down\n\nmsg.payload = \"SDM120 modbus queue reached high level, resetting. (\" + msg.state + \")\";\nmsg.system = 4; // System id, use 1 for Dummy\n//msg.state = 1; // specify if the message is to change system status\nmsg.severity = 1; // 0: information, 1: warning, 2: error\nmsg.email = false; // if separate email should be sent\n//msg.emailtext = \"Clean up step of the SAIA log backup has failed\";\nreturn msg;","outputs":1,"noerr":0,"x":821.8571548461914,"y":732.1428470611572,"wires":[["d238b947.0c3088"]]},{"id":"d238b947.0c3088","type":"link out","z":"5e085e4d.a9843","name":"","links":["13e089a7.73cb46"],"x":1007.8571548461914,"y":732.1428470611572,"wires":[]},{"id":"91aa1129.5d029","type":"catch","z":"5e085e4d.a9843","name":"Modbus read errors","scope":["d1720dff.4a899","b98da110.baf638","be4b05eb.ea4c9","8cc64dd0.ca562","c7af8bfe.87f7b","e24bc084.4c0b18"],"x":283.8571548461914,"y":776.1428470611572,"wires":[["641129d5.3e9d1"]]},{"id":"641129d5.3e9d1","type":"function","z":"5e085e4d.a9843","name":"Diagnostic input message structure","func":"// setting a global flag that the solar system is down\n\nmsg.payload = \"SDM120 modbus error: \" + msg.error.message;\nmsg.system = 4; // System id, use 1 for Dummy\n//msg.state = 1; // specify if the message is to change system status\nmsg.severity = 1; // 0: information, 1: warning, 2: error\nmsg.email = false; // if separate email should be sent\n//msg.emailtext = \"Clean up step of the SAIA log backup has failed\";\nreturn msg;","outputs":1,"noerr":0,"x":572.8571548461914,"y":776.1428470611572,"wires":[["4410f2b8.27fbf4"]]},{"id":"4410f2b8.27fbf4","type":"link out","z":"5e085e4d.a9843","name":"","links":["13e089a7.73cb46"],"x":758.8571548461914,"y":776.1428470611572,"wires":[]},{"id":"f64bdd3d.80a43","type":"debug","z":"5e085e4d.a9843","name":"","active":false,"console":"false","complete":"true","x":829.8571548461914,"y":601.1428470611572,"wires":[]},{"id":"b7d0e993.f6f26","type":"http request","z":"5e085e4d.a9843","name":"","method":"GET","ret":"txt","url":"192.168.2.2/save_kwh.php?id={{topic}}&w={{payload}}","tls":"","x":1068.0833129882812,"y":419.99998474121094,"wires":[["2b18e3e8.4943e4"]]},{"id":"2b18e3e8.4943e4","type":"debug","z":"5e085e4d.a9843","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1239.083251953125,"y":349.99998474121094,"wires":[]},{"id":"2eb306d6.65fa42","type":"modbus-queue-info","z":"5e085e4d.a9843","name":"SDM120_queue","topic":"","unitid":"2","queueReadIntervalTime":"1000","lowLowLevel":"1","lowLevel":75,"highLevel":150,"highHighLevel":300,"server":"f83957d7.ef9788","errorOnHighLevel":false,"x":648,"y":549,"wires":[["f64bdd3d.80a43"]]},{"id":"b2f924f1.6dc998","type":"function","z":"778728cb.24406","name":"","func":"var output = msg.topic.split(\"/\");\n\nvar t = 101;\nif(output.length == 3){\n    t = flow.get(output[2]) || 100;\n}\n//if(t==100){\n    return [{payload:output[2], topic:\"request\", esp:output[2]}];\n//}\nreturn [{payload:\"\", topic:\"exist\"}];","outputs":1,"noerr":0,"x":112.5,"y":205.75,"wires":[["367c847a.195b44"]]},{"id":"367c847a.195b44","type":"http request","z":"778728cb.24406","name":"","method":"GET","ret":"txt","url":"webServer/sensor.php?id={{payload}}","tls":"","x":298.5,"y":205,"wires":[["a6f3f05b.905eb"]]},{"id":"a6f3f05b.905eb","type":"function","z":"778728cb.24406","name":"","func":"var output = msg.payload.split(\"&\");\n\nvar id_setor = 100;\nvar gold = 10000;\nvar mode = \"xxx\";\n\nif(output.length == 3){\n    var output_2 = output[0].split(\":\");\n    if(output_2[0] == \"setor_id\"){\n        id_setor = (parseInt(output_2[1])-1) + \"\";\n    }else\n    return [{payload:false}];\n    \n    var output_2 = output[1].split(\":\");\n    if(output_2[0] == \"gold\"){\n        gold = parseInt(output_2[1]);\n    }else\n    return [{payload:false}];\n    \n    var output_2 = output[2].split(\":\");\n    if(output_2[0] == \"mode\"){\n        mode = output_2[1];\n    }\n    else\n        return [{payload:false}];\n}else\n    return [{payload:false}];\nreturn [{id:id_setor, out_gold:gold, out_mode:mode, esp:msg.esp}];","outputs":1,"noerr":0,"x":447.5,"y":205,"wires":[["41bcfe5f.838f38"]]},{"id":"e05b6c03.ecb45","type":"mqtt out","z":"778728cb.24406","name":"","topic":"","qos":"","retain":"","broker":"af1d21a9.e11b6","x":448.16668701171875,"y":317.888916015625,"wires":[]},{"id":"d8bc3611.8d6068","type":"debug","z":"778728cb.24406","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":446.166748046875,"y":279.2222595214844,"wires":[]},{"id":"41bcfe5f.838f38","type":"function","z":"778728cb.24406","name":"","func":"if(msg.payload !== false){\n    var gold = flow.get( \"gold\" + msg.id) || 10000;\n    flow.set(msg.esp, msg.id);\n    flow.set( \"mode\" + msg.id, msg.out_mode);\n    var time = new Date();\n    flow.set(\"last_update\" + msg.id, time);\n    node.status({fill:\"blue\",shape:\"ring\",text:\"ESP:\" + msg.esp + \", Mode:\" + msg.out_mode + \", Gold:\" + msg.out_gold});\n    if(gold !== msg.out_gold){\n        flow.set( \"gold\" + msg.id, msg.out_gold);\n        return [{topic: \"mosquitto/gold/\" + msg.esp, payload:msg.out_gold}];\n    }\n}","outputs":1,"noerr":0,"x":276.5,"y":318,"wires":[["d8bc3611.8d6068","e05b6c03.ecb45"]]},{"id":"744debcf.2b7adc","type":"http request","z":"778728cb.24406","name":"","method":"GET","ret":"txt","url":"webServer/esp_status.php?id={{esp}}&gold={{gold_}}&pid_in={{in_}}&pid_out={{out_}}","tls":"","x":820.7222290039062,"y":160.11109924316406,"wires":[["f16dd847.5c7c9"]]},{"id":"f16dd847.5c7c9","type":"debug","z":"778728cb.24406","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":981.2777099609375,"y":158.99998474121094,"wires":[]},{"id":"4b529876.190cb","type":"function","z":"778728cb.24406","name":"","func":"var out = [];\nvar flag = false;\n\nvar mode = flow.get(\"mode\"+msg.topic) || \"auto\";\nvar last_mode = context.get(\"mode_last\" + msg.topic);\nvar off = flow.get('p'+msg.topic) || 0;\ncontext.set(\"mode_last\" + msg.topic, mode);\n\nif(mode !== last_mode)\n    flag = true;\n\nif(mode == \"auto\"){\n    if(parseInt(msg.payload) > 170){\n        if(off === 1){\n            flow.set('p'+msg.topic, 0);\n            flag = true;\n        }\n    }else if(parseInt(msg.payload) < 130){\n        if(off === 0){\n            flow.set('p'+msg.topic, 1);\n            flag = true;\n        }\n    }\n}\nelse if(mode == \"off\"){\n    if(off === 0){\n        flow.set('p'+msg.topic, 1);\n        flag = true;\n    }\n}else{\n    if(off === 1){\n        flow.set('p'+msg.topic, 0);\n        flag = true;\n    }\n}\nif(flag === true){\n    var id = parseInt(msg.topic)+1;\n    return [{mode_:mode, status:(flow.get('p'+msg.topic)===0) ? \"on\":\"off\", topic:id.toString()}];\n}","outputs":1,"noerr":0,"x":659.4443969726562,"y":208.88885498046875,"wires":[["df08c368.ef6e88","6b3fca1c.c2638c"]]},{"id":"6b3fca1c.c2638c","type":"http request","z":"778728cb.24406","name":"","method":"GET","ret":"txt","url":"webServer/setor_status.php?id={{topic}}&status={{status}}&mode={{mode_}}","tls":"","x":821.6668090820312,"y":208.88888549804688,"wires":[["2da56a7b.ce953e"]]},{"id":"2da56a7b.ce953e","type":"debug","z":"778728cb.24406","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":980.5555419921875,"y":208.888916015625,"wires":[]},{"id":"6adf5546.b71374","type":"function","z":"778728cb.24406","name":"","func":"var flag = false;\nvar last_time = context.get(\"last_\" + msg.topic) || 0;\nvar time = new Date();\n\n//1 min\nif((time-last_time) > 60000){\n    \n    context.set(\"last_\" + msg.topic, time);\n    flag = true;\n}\n\nif(flag === true)\n    return msg;","outputs":1,"noerr":0,"x":658.3333740234375,"y":160.00001525878906,"wires":[["744debcf.2b7adc"]]},{"id":"85900711.8899a","type":"function","z":"778728cb.24406","name":"","func":"var gold = flow.get( \"gold\" + msg.topic) || 10000;\nif(gold !== msg.gold_ && gold !== 10000)\n    return [{topic: \"mosquitto/gold/\" + msg.esp, payload:gold}];","outputs":1,"noerr":0,"x":608.5,"y":248,"wires":[["e05b6c03.ecb45"]]},{"id":"accf496.662fb38","type":"function","z":"778728cb.24406","name":"","func":"for(var p = 0;p<=13;p++){\n    var last = flow.get(\"last_update\" + p.toString()) ||0;\n    var time = new Date();\n    \n    //5 seg\n    if(last != \"not found\"){\n        if((time-last) > 3000){\n            return msg;\n        }\n    }\n}","outputs":1,"noerr":0,"x":248.5,"y":472,"wires":[["73ea0741.f6e62"]]},{"id":"88472217.583218","type":"inject","z":"778728cb.24406","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":113,"y":473,"wires":[["accf496.662fb38"]]},{"id":"73ea0741.f6e62","type":"http request","z":"778728cb.24406","name":"","method":"GET","ret":"txt","url":"webServer/setors.php","tls":"","x":383.5,"y":472,"wires":[["829e9e38.481da8"]]},{"id":"829e9e38.481da8","type":"function","z":"778728cb.24406","name":"","func":"var out = msg.payload.split(\"!!\");\nvar flag = false;\n\nfor(var p = 0;p<out.length;p++){\n    var output = out[p].split(\"&\");\n    \n    var id_setor = 100;\n    var mode = \"xxx\";\n\n    if(output.length == 2){\n        var output_2 = output[0].split(\":\");\n        if(output_2[0] == \"id\"){\n            id_setor = (parseInt(output_2[1])-1) + \"\";\n        }else\n        continue;\n        \n        var output_2 = output[1].split(\":\");\n        if(output_2[0] == \"mode\"){\n            mode = output_2[1];\n        }\n        else\n            continue;\n    }else\n        continue;\n    if(id_setor != 100){\n        flow.set( \"mode\" + id_setor, mode);\n        var time = new Date();\n        flow.set(\"last_update\" + id_setor, time);\n        flag = true;\n    }\n}\nfor(var p = 0;p<=13;p++){\n    var last = flow.get(\"last_update\" + p.toString()) || \"not found\";\n    if(last == \"not found\"){\n        flow.set(\"last_update\" + p.toString(), last);\n    }\n}\nif(true){\n return msg;   \n}","outputs":1,"noerr":0,"x":519,"y":472,"wires":[["df08c368.ef6e88"]]}]